<div class="container mt-1">
    <div class="card">
        <div class="card-header">
            <h1>Input Text</h1>
            <p>
                <a type="button" class="btn btn-primary" href="https://www.primefaces.org/primeng/showcase/#/inputtext" target="_blank" rel="noopener noreferrer">Primeng Documentation</a>
            </p>
        </div>
        <div class="card-body">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="value1"> 
                <label for="float-input">Label</label>
            </span>
            <span class="p-float-label min-height">
                <input id="float-input" type="text" pInputText [(ngModel)]="value2"> 
                <label for="float-input">Label</label>
            </span>
            <span class="p-float-label compact">
                <input id="float-input" type="text" pInputText [(ngModel)]="value3"> 
                <label for="float-input">Label</label>
            </span>
            <span class="p-float-label max-height">
                <input id="float-input" type="text" pInputText [(ngModel)]="value4"> 
                <label for="float-input">Label</label>
            </span>
        </div>
    </div>
</div>
