<header class="navbar navbar-dark" style="background-color: #662d91; position: sticky; top: 0; z-index: 1071;">
  <div class="container-fluid justify-content-around">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/BigV.svg" alt="" width="30" height="24" style="filter: drop-shadow( 0px 0px 5px rgba(255, 255, 255, 0.25));" >
      VieCure Component Library
    </a>
    <div>
      <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" formControlName="searchTerm"> -->
      <p-autoComplete 
        #pageSearch
        [(ngModel)]="searchId"
        [suggestions]="filteredSearchItems" 
        (completeMethod)="filterSearchItems($event)" 
        [dropdown]="true" 
        (onDropdownClick)="showAll($event)"
        [delay]="0"
      >
  <!--  (onDropdownClick)="handleDropdown($event)"
        placeholder="Search" 
        [showEmptyMessage]="true" 
        (onFocus)="showDropdown($event)"
        (onBlur)="hideDropdown($event)" -->
        <!-- <ng-template let-item pTemplate="item">
          <span>
            {{item.term}}
          </span>>
      </ng-template> -->
      </p-autoComplete>
      <!-- <button class="btn btn-primary" >
        <i class="fas fa-search"></i>
      </button> -->
    </div>
  </div>
</header>
<div class="container mb-2">
  <app-checkbox id="checkbox"></app-checkbox>
  <app-radio-button id="radioButton"></app-radio-button>
  <app-input-text id="textInput"></app-input-text>
</div>

