//Regular
@font-face {
    font-family: "AvenirLight";
    src: url("../fonts/AvenirNext-UltraLight-11.ttf") format("truetype");
    src: url("../fonts/AvenirNext-UltraLight-11.woff") format("woff");
    /* Safari, Android, iOS */
}
  
@font-face {
    font-family: "AvenirNext";
    src: url("../fonts/AvenirNext-Regular-08.ttf") format("truetype");
    src: url("../fonts/AvenirNext-Regular-08.woff") format("woff");

    /* Safari, Android, iOS */
    font-weight: normal;
}
  
@font-face {
    font-family: "AvenirNextMedium";
    src: url("../fonts/AvenirNext-Medium-06.ttf") format("truetype");
    src: url("../fonts/AvenirNext-Medium-06.woff") format("woff");
    /* Safari, Android, iOS */
}

@font-face {
    font-family: "AvenirMedium";
    src: url("../fonts/arch/avenir-medium.TTF") format("truetype");
    // src: url("../fonts/arch/AvenirNext-Medium-06.woff") format("woff");
    /* Safari, Android, iOS */
}

@font-face {
    font-family: "AvenirDemiBold";
    src: url("../fonts/AvenirNext-DemiBold-03.ttf") format("truetype");
    src: url("../fonts/AvenirNext-DemiBold-03.woff") format("woff");


    /* Safari, Android, iOS */
}
  
@font-face {
    font-family: "AvenirBold";
    src: url("../fonts/AvenirNext-Bold-01.ttf") format("truetype");
    src: url("../fonts/AvenirNext-Bold-01.woff") format("woff");
    /* Safari, Android, iOS */
}
  
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

.uppercase {
    text-transform: uppercase;
  }
  
  .bold {
    font-family: 'AvenirBold';
  }
  
  .demibold{
    font-family: 'AvenirDemiBold'
  }
  
  .medium {
    font-family: 'AvenirMedium';
  }
  
  .regular {
    font-family: 'AvenirNext';
  }
  
  .light {
    font-family: 'AvenirLight';
  }
  
  .text-center {
    text-align: center;
  }